Week_5/n8n_personalized_github_agent/workflows/personalized_github_multi_agent.json
{
  "name": "Personalized GitHub Repo Agent (Local n8n)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personalized-github-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "personalized-github-agent"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const payload = $json.body || {};\nconst action = String(payload.action || payload.endpoint || '').trim().toLowerCase();\n\nconst env = {\n  owner: $env.GITHUB_OWNER || '',\n  repo: $env.GITHUB_REPO || '',\n  token: $env.GITHUB_TOKEN || '',\n  apiBase: ($env.GITHUB_API_BASE || 'https://api.github.com').replace(/\\\/$/, ''),\n  defaultBaseBranch: $env.AGENT_BASE_BRANCH || 'main',\n  defaultHeadBranch: $env.AGENT_HEAD_BRANCH || ''\n};\n\nfunction requireGithubConfig() {\n  if (!env.owner || !env.repo) {\n    throw new Error('GITHUB_OWNER and GITHUB_REPO are required.');\n  }\n  if (!env.token) {\n    throw new Error('GITHUB_TOKEN is required.');\n  }\n}\n\nfunction makeId(prefix) {\n  return `${prefix}_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n}\n\nfunction assessRisk(files, totalAdded, totalDeleted) {\n  let score = 0;\n  const total = totalAdded + totalDeleted;\n  if (total > 350) score += 2;\n  else if (total > 120) score += 1;\n\n  const criticalMarkers = ['auth', 'payment', 'security', 'gateway', 'api', 'config'];\n  if (files.some((path) => criticalMarkers.some((marker) => path.toLowerCase().includes(marker)))) score += 2;\n\n  if (files.length > 10) score += 1;\n\n  if (score >= 4) return 'high';\n  if (score >= 2) return 'medium';\n  return 'low';\n}\n\nfunction classifyChange(files, evidenceSnippets) {\n  const lowerFiles = files.join(' ').toLowerCase();\n  const lowerDiff = evidenceSnippets.join(' ').toLowerCase();\n  if (/fix|bug|error/.test(lowerDiff)) return 'bugfix';\n  if (/refactor/.test(lowerDiff)) return 'refactor';\n  if (/readme|\\.md|docs\\//.test(lowerFiles)) return 'docs';\n  if (/test|spec/.test(lowerFiles)) return 'test';\n  return 'feature';\n}\n\nfunction detectIssues(files, evidenceSnippets) {\n  const lower = evidenceSnippets.join(' ').toLowerCase();\n  const issues = [];\n  if (lower.includes('todo') || lower.includes('fixme')) {\n    issues.push('Diff contains TODO/FIXME markers that may indicate unfinished work.');\n  }\n  if (lower.includes('except:') || lower.includes('except exception')) {\n    issues.push('Broad exception handling detected; consider narrowing exception types.');\n  }\n  const hasCode = files.some((p) => /\\.(py|js|ts|tsx|jsx|go|java|cs|rb)$/i.test(p));\n  const hasTest = files.some((p) => /test|spec/i.test(p));\n  if (hasCode && !hasTest) {\n    issues.push('Code changes detected without corresponding test file updates.');\n  }\n  if (lower.includes('password') || lower.includes('token')) {\n    issues.push('Sensitive credential handling appears in diff; verify secure storage and masking.');\n  }\n  return issues;\n}\n\nfunction plannerDecision(review) {\n  const issues = review.potential_issues || [];\n  const risk = review.risk || 'low';\n  const changeType = review.change_type || 'feature';\n\n  let action = 'no_action';\n  let reason = 'Diff appears low-risk and does not show clear issues requiring tracking.';\n\n  if (issues.length > 0) {\n    action = 'create_issue';\n    reason = 'Potential quality/safety gaps were found in diff evidence.';\n  } else if ((risk === 'high' || risk === 'medium') && ['feature', 'bugfix', 'refactor'].includes(changeType)) {\n    action = 'create_pr';\n    reason = 'Meaningful change with non-trivial risk should be tracked with PR context and test plan.';\n  }\n\n  return {\n    action,\n    reason,\n    evidence_used: (review.evidence || []).slice(0, 3)\n  };\n}\n\nfunction reflectionCheck(kind, draft, review) {\n  const findings = [];\n  const title = String(draft.title || '').trim();\n  const body = String(draft.body || '').trim();\n\n  if (!title) findings.push('Missing title.');\n  if (!body) findings.push('Missing body.');\n  if (!/evidence/i.test(body)) findings.push('Missing evidence section.');\n  if ((kind === 'pr') && !/test plan/i.test(body)) findings.push('Missing test plan section.');\n  if (!/risk level/i.test(body)) findings.push('Missing risk level section.');\n\n  if (review && (!review.evidence || review.evidence.length === 0)) {\n    findings.push('Review context has no supporting diff evidence.');\n  }\n\n  return {\n    verdict: findings.length === 0 ? 'PASS' : 'FAIL',\n    checks: {\n      unsupported_claims: review ? 'PASS' : 'UNKNOWN',\n      missing_evidence: /evidence/i.test(body) ? 'PASS' : 'FAIL',\n      missing_tests: kind === 'issue' || /test plan/i.test(body) ? 'PASS' : 'FAIL',\n      policy_violations: 'PASS'\n    },\n    findings\n  };\n}\n\nfunction buildIssueDraft({ instruction, review }) {\n  let title = 'Issue: follow-up improvements from repository review';\n  let problem = 'Potential reliability and maintainability concerns were detected in recent changes.';\n  let risk = 'medium';\n  const evidenceItems = [];\n\n  if (review) {\n    risk = review.risk || 'medium';\n    for (const item of (review.evidence || []).slice(0, 5)) {\n      evidenceItems.push(`- ${item.source}: ${item.snippet}`);\n    }\n    if ((review.potential_issues || []).length) {\n      problem = review.potential_issues.map((x) => `- ${x}`).join('\\n');\n    }\n  }\n\n  if (instruction) {\n    const firstLine = instruction.split(/\\r?\\n/)[0].trim();\n    if (firstLine) title = firstLine.slice(0, 120);\n    problem = instruction;\n  }\n\n  const evidenceBlock = evidenceItems.length ? evidenceItems.join('\\n') : '- Review evidence will be attached during implementation.';\n  const body = `## Problem Description\\n${problem}\\n\\n## Evidence\\n${evidenceBlock}\\n\\n## Acceptance Criteria\\n- Root cause is addressed with a minimal and testable change.\\n- Regression risk is covered by tests or documented manual checks.\\n- Any security or validation gaps are explicitly handled.\\n\\n## Risk Level\\n- ${risk}`;\n\n  return { title, body };\n}\n\nfunction buildPrDraft({ instruction, review, baseBranch, headBranch }) {\n  let title = 'PR: repository improvements from agent review';\n  let summary = 'Implements targeted improvements based on repository analysis.';\n  let risk = 'medium';\n  let files = [];\n\n  if (review) {\n    risk = review.risk || 'medium';\n    files = review.files || [];\n    const stats = review.stats || {};\n    summary = `Change type: ${review.change_type}. Diff stats: +${stats.total_added || 0} /-${stats.total_deleted || 0}.`;\n  }\n\n  if (instruction) {\n    const firstLine = instruction.split(/\\r?\\n/)[0].trim();\n    if (firstLine) title = firstLine.slice(0, 120);\n    summary = instruction;\n  }\n\n  const filesList = files.slice(0, 15).map((p) => `- ${p}`).join('\\n') || '- To be confirmed';\n  const body = `## Summary\\n${summary}\\n\\n## Files Affected\\n${filesList}\\n\\n## Evidence\\n- Based on diff-derived review context and risk analysis.\\n\\n## Behavior Change\\n- Improves repository quality and/or maintainability with scoped updates.\\n\\n## Test Plan\\n- Run unit/integration tests covering touched modules.\\n- Execute manual sanity check for the main user flow.\\n\\n## Risk Level\\n- ${risk}`;\n\n  return {\n    title,\n    body,\n    head: headBranch,\n    base: baseBranch\n  };\n}\n\nfunction ensureStore() {\n  const store = $getWorkflowStaticData('global');\n  if (!store.reviews) store.reviews = {};\n  if (!store.drafts) store.drafts = {};\n  if (!store.outcomes) store.outcomes = {};\n  return store;\n}\n\nasync function githubRequest({ method = 'GET', path, body }) {\n  requireGithubConfig();\n  const response = await fetch(`${env.apiBase}/repos/${env.owner}/${env.repo}${path}`, {\n    method,\n    headers: {\n      'Authorization': `Bearer ${env.token}`,\n      'Accept': 'application/vnd.github+json',\n      'X-GitHub-Api-Version': '2022-11-28',\n      'Content-Type': 'application/json'\n    },\n    body: body ? JSON.stringify(body) : undefined\n  });\n\n  let data;\n  try {\n    data = await response.json();\n  } catch (_err) {\n    data = { message: await response.text() };\n  }\n\n  if (!response.ok) {\n    const msg = data && data.message ? data.message : `GitHub API error (${response.status})`;\n    throw new Error(msg);\n  }\n  return data;\n}\n\nasync function handleReview() {\n  const store = ensureStore();\n\n  const commitRange = String(payload.commit_range || '').trim();\n  const baseBranch = String(payload.base_branch || env.defaultBaseBranch).trim();\n  const headBranch = String(payload.head_branch || env.defaultHeadBranch).trim();\n\n  let compareRef = '';\n  if (commitRange.includes('...')) {\n    compareRef = commitRange;\n  } else if (commitRange.includes('..')) {\n    compareRef = commitRange.replace('..', '...');\n  } else if (baseBranch && headBranch) {\n    compareRef = `${baseBranch}...${headBranch}`;\n  } else {\n    throw new Error('For review, provide commit_range (base...head) or both base_branch and head_branch.');\n  }\n\n  const compare = await githubRequest({ method: 'GET', path: `/compare/${compareRef}` });\n  const files = (compare.files || []).map((f) => f.filename);\n\n  const evidence = [];\n  for (const file of (compare.files || []).slice(0, 8)) {\n    const patch = String(file.patch || '').split('\\n');\n    for (const line of patch) {\n      if (line.startsWith('+') && !line.startsWith('+++')) {\n        const snippet = line.slice(1).trim();\n        if (snippet) evidence.push({ source: file.filename, type: 'added', snippet: snippet.slice(0, 200) });\n      } else if (line.startsWith('-') && !line.startsWith('---')) {\n        const snippet = line.slice(1).trim();\n        if (snippet) evidence.push({ source: file.filename, type: 'removed', snippet: snippet.slice(0, 200) });\n      }\n      if (evidence.length >= 8) break;\n    }\n    if (evidence.length >= 8) break;\n  }\n\n  const totalAdded = (compare.files || []).reduce((acc, f) => acc + Number(f.additions || 0), 0);\n  const totalDeleted = (compare.files || []).reduce((acc, f) => acc + Number(f.deletions || 0), 0);\n\n  const evidenceSnippets = evidence.map((e) => e.snippet);\n  const review = {\n    input: {\n      base_branch: baseBranch || null,\n      head_branch: headBranch || null,\n      commit_range: commitRange || null\n    },\n    reference: compareRef,\n    change_type: classifyChange(files, evidenceSnippets),\n    risk: assessRisk(files, totalAdded, totalDeleted),\n    stats: {\n      files_changed: files.length,\n      total_added: totalAdded,\n      total_deleted: totalDeleted\n    },\n    files,\n    numstat: (compare.files || []).map((f) => ({\n      path: f.filename,\n      added: Number(f.additions || 0),\n      deleted: Number(f.deletions || 0)\n    })),\n    potential_issues: detectIssues(files, evidenceSnippets),\n    evidence\n  };\n\n  const plan = plannerDecision(review);\n  const reviewId = makeId('rvw');\n  store.reviews[reviewId] = { review, plan };\n\n  return { ok: true, review_id: reviewId, review, plan };\n}\n\nasync function handleDraft() {\n  const store = ensureStore();\n\n  const kind = String(payload.kind || 'issue').toLowerCase();\n  const source = String(payload.source || 'instruction').toLowerCase();\n  const instruction = String(payload.instruction || '').trim();\n  const reviewId = payload.review_id ? String(payload.review_id) : '';\n\n  let review = null;\n  if (source === 'review') {\n    if (!reviewId) throw new Error('review_id is required when source=review');\n    const rec = store.reviews[reviewId];\n    if (!rec) throw new Error('review_id not found');\n    review = rec.review;\n  }\n\n  let draft;\n  if (kind === 'issue') {\n    draft = buildIssueDraft({ instruction, review });\n  } else if (kind === 'pr') {\n    const baseBranch = String(payload.base_branch || env.defaultBaseBranch || 'main');\n    const headBranch = String(payload.head_branch || env.defaultHeadBranch || 'main');\n    draft = buildPrDraft({ instruction, review, baseBranch, headBranch });\n  } else {\n    throw new Error('kind must be issue or pr');\n  }\n\n  const reflection = reflectionCheck(kind, draft, review);\n  const draftId = makeId('drf');\n\n  store.drafts[draftId] = {\n    kind,\n    source,\n    instruction,\n    review_id: reviewId || null,\n    draft,\n    reflection,\n    status: 'pending_approval'\n  };\n\n  return {\n    ok: true,\n    draft_id: draftId,\n    approval_required: true,\n    draft,\n    reflection\n  };\n}\n\nasync function handleApprove() {\n  const store = ensureStore();\n\n  const draftId = String(payload.draft_id || '').trim();\n  const approve = Boolean(payload.approve);\n\n  if (!draftId) throw new Error('draft_id is required');\n  const record = store.drafts[draftId];\n  if (!record) throw new Error('draft_id not found');\n\n  if (!approve) {\n    record.status = 'rejected';\n    return { ok: true, message: 'Draft rejected. No changes made.' };\n  }\n\n  if ((record.reflection || {}).verdict !== 'PASS') {\n    return {\n      ok: false,\n      message: 'Reflection verdict: FAIL. Revision required before creation.',\n      reflection: record.reflection\n    };\n  }\n\n  if (record.kind === 'issue') {\n    const created = await githubRequest({\n      method: 'POST',\n      path: '/issues',\n      body: { title: record.draft.title, body: record.draft.body }\n    });\n\n    const out = { kind: 'issue', number: created.number, url: created.html_url };\n    record.status = 'created';\n    record.created = out;\n    store.outcomes[draftId] = out;\n    return { ok: true, message: 'Created successfully.', created: out };\n  }\n\n  if (record.kind === 'pr') {\n    const created = await githubRequest({\n      method: 'POST',\n      path: '/pulls',\n      body: {\n        title: record.draft.title,\n        body: record.draft.body,\n        head: record.draft.head,\n        base: record.draft.base,\n        draft: true\n      }\n    });\n\n    const out = { kind: 'pr', number: created.number, url: created.html_url };\n    record.status = 'created';\n    record.created = out;\n    store.outcomes[draftId] = out;\n    return { ok: true, message: 'Created successfully.', created: out };\n  }\n\n  throw new Error(`Unsupported draft kind: ${record.kind}`);\n}\n\nasync function handleImprove() {\n  const kind = String(payload.kind || 'issue').toLowerCase();\n  const number = Number(payload.number || 0);\n  if (!number || number <= 0) throw new Error('number must be > 0');\n\n  let current;\n  if (kind === 'issue') {\n    current = await githubRequest({ method: 'GET', path: `/issues/${number}` });\n  } else if (kind === 'pr') {\n    current = await githubRequest({ method: 'GET', path: `/pulls/${number}` });\n  } else {\n    throw new Error('kind must be issue or pr');\n  }\n\n  const source = {\n    title: String(current.title || ''),\n    body: String(current.body || '')\n  };\n\n  const findings = [];\n  if (source.title.trim().length < 8) findings.push('Title is too short to communicate scope clearly.');\n  if (!/acceptance criteria/i.test(source.body)) findings.push('Acceptance criteria are missing or not explicit.');\n  if (!/evidence/i.test(source.body)) findings.push('Evidence section is missing.');\n  if (!/risk/i.test(source.body)) findings.push('Risk level is missing.');\n  if (findings.length === 0) findings.push('No major clarity gaps detected.');\n\n  const criteriaLabel = kind === 'pr' ? 'Test Plan' : 'Acceptance Criteria';\n  const suggestedBody = `## Problem / Summary\\n${source.body.slice(0, 800) || 'Clarify the objective and expected outcome.'}\\n\\n## Evidence\\n- Link concrete logs, diff snippets, or behavior examples.\\n\\n## ${criteriaLabel}\\n- Define measurable completion conditions.\\n- Add clear validation steps.\\n\\n## Risk Level\\n- medium`;\n\n  return {\n    ok: true,\n    critique: {\n      kind,\n      number,\n      findings,\n      source\n    },\n    suggested: {\n      title: source.title || `${kind.toUpperCase()} #${number}: improved title`,\n      body: suggestedBody,\n      critique: findings.map((f) => `- ${f}`).join('\\n')\n    },\n    reflection: {\n      verdict: 'PASS',\n      checks: {\n        unsupported_claims: 'PASS',\n        missing_evidence: 'PASS',\n        missing_tests: kind === 'issue' ? 'PASS' : 'UNKNOWN',\n        policy_violations: 'PASS'\n      },\n      findings: []\n    }\n  };\n}\n\ntry {\n  if (!action) {\n    throw new Error('Missing action. Use one of: review, draft, approve, improve.');\n  }\n\n  let result;\n  if (action === 'review') {\n    result = await handleReview();\n  } else if (action === 'draft') {\n    result = await handleDraft();\n  } else if (action === 'approve') {\n    result = await handleApprove();\n  } else if (action === 'improve') {\n    result = await handleImprove();\n  } else {\n    throw new Error('Unsupported action. Use: review, draft, approve, improve.');\n  }\n\n  return [{ json: result }];\n} catch (err) {\n  return [{\n    json: {\n      ok: false,\n      error: String((err && err.message) || err || 'Unknown error')\n    }\n  }];\n}"      },
      "id": "node_agent_router",
      "name": "Agent Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        530,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node_response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        790,
        300
      ]
    }
  ],
  "connections": {
    "API Webhook": {
      "main": [
        [
          {
            "node": "Agent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Router": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "7bb37cd5-c37f-4fca-8e17-4692f8f1f8f4",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "personalized_github_agent_local",
  "tags": []
}
